@model WebApplication6.Models.Author

@{
    ViewData["Title"] = "Delete";
}
<div class="container-fluid mt-5 pt-5 ">
    <h1>Remove author from library</h1> <hr />
    <div>

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
        </dl>
        <ul>
            <li>
                <p>Wireten books:</p>
            </li>
            @foreach (var item in Model.Book.ToList())
            {

                if (item != null)
                {
                    <li>
                        @item.Title
                    </li>
                }


            }
        </ul>

        <form asp-action="Delete" asp-controller="Author">
            <input type="hidden" asp-for="ID" />
            <a asp-action="GetAuthors" class="btn  btn-outline-info">Back to List</a> |
            <input type="submit" value="Delete" class="btn  btn-outline-info" />

        </form>
    </div>
</div>

