@using WebApplication6.Data.ViewModels
@using WebApplication6.Services
@model GetAuthorsViewModel

@{
    var prevDisabled = !Model.Authors.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Authors.HasNextPage ? "disabled" : "";
}

<div class="container mt-4 pt-1">
    <!--Filters div-->
    <div class="container mt-5 pt-5 bg-light">
        <!--Search-->
        <div class="form-actions form-inline float-right no-color mt-3 mr-1">
            <p>
                <input type="text" id="searchString" class="form-control mr-sm-1 border-dark" placeholder="Search" />
                <button class="btn btn-outline-info  my-2 my-sm-0"  onclick="GetFilteredAuthors({ searchString: $('#searchString').val(), role: '@User.IsInRole("admin")' })">Search</button>
            </p>
        </div>
        <!--Genre select list-->
        <div class="mt-3 ml-4">
            <div class="form-actions dropdown  d-inline-block">
                <button type="button" class="bg-transparent border-0 dropdown-toggle" data-toggle="dropdown">
                    <img src="~/Images/Genre.svg" />
                    Genre
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" id="genre" onclick="GetFilteredAuthors({role: '@User.IsInRole("admin")'});">All</button>
                    @foreach (var genre in Enum.GetValues(typeof(Genre)))
                    {
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" id="genre" onclick="GetFilteredAuthors({ genre: '@genre', sortOrder: '@AuthorFilteringService.CurrentSortOrder', role: '@User.IsInRole("admin")' });">@genre</button>
                    }
                </div>
            </div>

            <!--Sort by L.N.-->
            <div class="form-actions d-inline-block bg-transparent ml-5 ml-1">
                <div class="p-2 bg-transparent">
                    <a href="#" onclick="GetFilteredAuthors({ sortOrder: '@AuthorFilteringService.CurrentSortOrder', role: '@User.IsInRole("admin")'} );" class="text-dark bg-transparent mr-0">
                        <img src="https://img.icons8.com/ultraviolet/40/000000/user-typing-using-typewriter.png" style="width:30px;height:30px" />
                        Order by L.N.
                    </a>
                </div>
            </div>
            <!--Reset all filters-->
            <div class="form-actions d-inline-block bg-transparent ml-5">
                <div class="p-2 bg-transparent">
                    <a href="#" class="text-dark bg-transparent mr-0" onclick="GetFilteredAuthors({role: '@User.IsInRole("admin")'});">
                        <img src="https://img.icons8.com/ultraviolet/80/000000/clear-filters.png" style="width:25px;height:25px" />
                        Remove
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Author's list-->
    <div class="container mt-0 pt-3">
        <div class="row" id="List">
            <div class="col-sm-3">
                <div class="card mb-4 shadow-sm" style="width:250px">
                    <img src="~/Images/AddNewAuthor.svg" />
                    <div class="card-body pt-0 pb-3 pl-3 pr-2 m-0">
                        <p class="card-text">
                            Authors's L.N. <br>
                            Here should be a short biagraphy about added author. You can do add new author by clickin a button under this text.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                                <a class="btn btn-sm btn-outline-dark" asp-action="Add" asp-controller="Author">Add new+</a>

                            </div>
                            <text class="text-info mr-1 font-italic">Genre</text>
                        </div>
                    </div>
                </div>
            </div>

            @foreach (var item in Model.Authors)
            {
                <div class="col-md-3 ">
                    <div class="card mb-4 shadow-sm" style="width:250px">
                        <img src="@item.Image" height="200">
                        <div class="card-body pt-0 pb-3 pl-3 pr-2 m-0">
                            <p class="card-text">
                                <dl>
                                    <dt></dt>
                                    <dd>@item.LastName @item.FirstName</dd>
                                    <dt></dt>
                                    <dd>@item.ShortBiography</dd>
                                </dl>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" asp-action="Details" asp-controller="Home" asp-route-id="@item.ID" class="btn btn-sm btn-outline-secondary">View</a>
                                    @if (User.IsInRole("admin"))
                                    {
                                        <div class="dropdown dropright">
                                            <button type="button" class="btn btn-sm btn-outline-dark dropdown-toggle" data-toggle="dropdown">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" asp-action="Edit" asp-controller="Author" asp-route-Id="@item.ID">Edit</a>
                                                <a class="dropdown-item" asp-action="Delete" asp-controller="Author" asp-route-Id="@item.ID">Delete</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!--Pagination-->
    <div class="d-flex justify-content-center bg-transparent mb-3">
        <div class="p-3 bg-transparent">
            <a asp-action="GetAuthors"
               asp-route-Genre="@Model.FilterArgs.Genre"
               asp-route-catalogPage="@(Model.Authors.PageIndex - 1)"
               asp-route-SortOrder="@AuthorFilteringService.CurrentSortOrder"
               class="btn btn-lg btn-outline-dark @prevDisabled">
                Previous
            </a>

        </div>

        <div class="p-3 bg-transparent">
            <a asp-action="GetAuthors"
               asp-route-Genre="@Model.FilterArgs.Genre"
               asp-route-catalogPage="@(Model.Authors.PageIndex + 1)"
               asp-route-SortOrder="@AuthorFilteringService.CurrentSortOrder"
               class="btn btn-lg btn-outline-dark @nextDisabled">
                Next page
            </a>
        </div>
    </div>
</div>

