@using WebApplication6.Data.ViewModels;
@using WebApplication6.Data;
@model GetAllBooksViewModel

<!--AJAX for Add to  cart-->
<script>
function AddItem(id) {
                $.ajax({
                    url: '@Url.Action("AddBasketItem", "Basket")',
                    type: 'GET',
                    data: { 'id': id},

                });
            }
</script>

<!--BookList menu-->
<div class="container mt-5 pt-5 bg-light">
  

    <!--Search form-->
    <form asp-action="GetAllBooks" method="get" class="form-inline float-right mr-3 mt-md-0">

        <div class="form-actions no-color mt-5">
            <input type="text" name="SearchString" class="form-control mr-sm-1 border-dark" placeholder="Search"/>
            <button class="btn btn-outline-info  my-2 my-sm-0 " type="submit">Search</button>
        </div>

    </form>
    <!--Filters menu-->
    <div class="mt-5 ml-4">
        <form asp-action="GetAllBooks" method="get" class="form-inline mt-md-0">

            <!--Genre filter-->
            <div class="form-actions dropdown  d-inline-block mr-4">
                <button type="button" class="bg-transparent border-0 dropdown-toggle" data-toggle="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         width="30" height="30"
                         viewBox="0 0 40 40"
                         style=" fill:#000000;">
                        <path fill="#b6dcfe" d="M14.683,19.479c-0.508-0.535-2.183-2.576-2.183-6.265c0-1.517,0.436-2.917,1.297-4.177 c0.167,0.707,0.412,1.415,0.746,2.166l0.714,1.605l0.239-1.741c0.004-0.029,0.396-2.86,1.018-4.697 C20.961,3.19,28.355,1.553,38.5,1.501v0.301C38.098,2.23,36.79,3.6,34.735,5.561c-1.161,0.378-3.849,0.942-6.525,0.942H26.59 l1.339,0.913c0.741,0.505,2.066,1.196,3.203,1.734c-2.707,2.628-5.718,5.249-7.329,6.368 C19.151,18.749,15.567,19.371,14.683,19.479z"></path>
                        <path fill="#4788c7" d="M37.61,2.011c-0.627,0.649-1.691,1.727-3.135,3.108c-0.938,0.286-3.477,0.885-6.265,0.885h-3.242 l2.678,1.826c0.623,0.425,1.64,0.973,2.622,1.458c-2.549,2.44-5.262,4.785-6.751,5.82c-4.209,2.924-7.512,3.664-8.646,3.841 C14.283,18.269,13,16.421,13,13.214c0-1.031,0.217-2.005,0.647-2.914c0.126,0.362,0.272,0.729,0.44,1.106l1.428,3.212l0.477-3.482 c0.004-0.028,0.368-2.659,0.946-4.451C21.13,3.762,28.249,2.154,37.61,2.011 M39,1C26.878,1,19.928,3.256,16.093,6.058 C15.417,7.958,15,11,15,11c-0.538-1.211-0.792-2.208-0.909-3.148C12.449,9.703,12,11.63,12,13.214C12,17.851,14.5,20,14.5,20 s4.032-0.212,9.588-4.071C25.799,14.74,29.083,11.875,32,9c-1.135-0.51-2.896-1.388-3.79-1.997c2.995,0,5.818-0.67,6.79-1.003 c2.584-2.463,4-4,4-4V1L39,1z"></path>
                        <path fill="none" stroke="#4788c7" stroke-miterlimit="10" d="M12.505,31.02c0,0-0.902-13.251,7.725-21.878 C24.235,5.137,30.809,1.5,39,1.5"></path>
                        <path fill="#dff0fe" d="M3.475,38.5c-0.408,0-0.753-0.292-0.82-0.695L1.509,30.93c-0.071-0.425,0.185-0.827,0.595-0.936 c0.992-0.263,4.008-1.062,5.883-2.588l0.245-0.194c0.38-0.299,0.801-0.631,1.066-1.025h7.396c0.264,0.393,0.685,0.723,1.064,1.022 l0.247,0.196c1.867,1.524,4.89,2.325,5.884,2.588c0.41,0.109,0.666,0.511,0.595,0.936l-1.146,6.876 c-0.067,0.402-0.412,0.694-0.82,0.694H3.475z"></path>
                        <path fill="#4788c7" d="M16.446,26.687c0.291,0.353,0.663,0.646,1.005,0.915c0.083,0.065,0.163,0.129,0.24,0.191 c1.951,1.593,5.053,2.414,6.072,2.684c0.16,0.042,0.259,0.201,0.23,0.37l-1.146,6.875C22.82,37.884,22.683,38,22.52,38H3.475 c-0.163,0-0.3-0.116-0.327-0.277l-1.146-6.875c-0.028-0.169,0.071-0.328,0.23-0.37C5,29.744,6.986,28.867,8.304,27.794 c0.076-0.062,0.156-0.125,0.238-0.189c0.343-0.27,0.716-0.563,1.008-0.918H16.446 M16.991,25.687H9.004 c-0.2,0.495-0.848,0.938-1.331,1.331c-1.689,1.375-4.407,2.151-5.696,2.492c-0.661,0.175-1.073,0.826-0.961,1.501l1.146,6.875 C2.269,38.529,2.824,39,3.475,39H22.52c0.651,0,1.206-0.471,1.313-1.112l1.146-6.875c0.113-0.675-0.299-1.326-0.961-1.501 c-1.29-0.342-4.008-1.115-5.696-2.492C17.842,26.626,17.19,26.181,16.991,25.687L16.991,25.687z"></path>
                        <path fill="#dff0fe" d="M8.5,26.5v-2.247c0-0.408,0.355-0.753,0.776-0.753h7.5c0.406,0,0.724,0.331,0.724,0.753V26.5H8.5z"></path>
                        <path fill="#4788c7" d="M16.776,24C16.923,24,17,24.127,17,24.253V26H9v-1.747C9,24.121,9.132,24,9.276,24H16.776 M16.776,23h-7.5C8.586,23,8,23.563,8,24.253V27h10v-2.747C18,23.563,17.467,23,16.776,23L16.776,23z"></path>
                        <path fill="#98ccfd" d="M2.03,31.012l1.118,6.711C3.175,37.884,3.312,38,3.475,38H22.52c0.163,0,0.3-0.116,0.327-0.277 l1.118-6.711H2.03z"></path>
                        <g><path fill="#98ccfd" d="M13.234 26c.075-.628.171-1.297.296-2h-1.009c-.121.703-.215 1.371-.289 2H13.234zM13.129 27h-1c-.218 2.416-.126 4.008-.123 4.054l.998-.068C13.001 30.941 12.91 29.372 13.129 27z"></path></g>
                    </svg>
                    Genre
                </button>

                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-route-Author="@Model.FilterArgs.Author" asp-route-BookCondition="@Model.FilterArgs.BookCondition">All</a>
                    
                    @foreach (var genre in Enum.GetValues(typeof(Genre)))
                    {

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-route-Author="@Model.FilterArgs.Author" asp-route-BookCondition="@Model.FilterArgs.BookCondition"  asp-route-Genre="@genre">@genre</a>

                    }

                </div>

            </div>

            <!--Author filter-->
            <div class="form-actions dropdown d-inline-block ml-5 ">
                <button type="button" class="bg-transparent border-0 dropdown-toggle" data-toggle="dropdown">
                    <img src="https://img.icons8.com/ultraviolet/40/000000/user-typing-using-typewriter.png" style="width:30px;height:30px" />
                    Authors
                </button>

                <div class="dropdown-menu">

                    <a class="dropdown-item" asp-route-Genre="@Model.FilterArgs.Genre" asp-route-BookCondition="@Model.FilterArgs.BookCondition">All</a>

                    @foreach (var author in Model.Authors)
                    {

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-route-Genre="@Model.FilterArgs.Genre" asp-route-BookCondition="@Model.FilterArgs.BookCondition"  asp-route-Author="@author.LastName">@author.FirstName @author.LastName</a>                       
                    }

                </div>

            </div>

            <!--Book's condition filter-->
            <div class="form-actions dropdown d-inline-block ml-5 pl-4">
                <button type="button" class="bg-transparent border-0 dropdown-toggle" data-toggle="dropdown">
                    <img src="https://img.icons8.com/ultraviolet/80/000000/book-shelf.png" style="width:30px;height:30px" />
                    Condition
                </button>

                <div class="dropdown-menu">

                    <a class="dropdown-item" asp-route-Author="@Model.FilterArgs.Author" asp-route-Genre="@Model.FilterArgs.Genre">All</a>
                    @foreach (var condition in Enum.GetValues(typeof(BookCondition)))
                    {
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-route-Author="@Model.FilterArgs.Author" asp-route-Genre="@Model.FilterArgs.Genre" asp-route-BookCondition="@condition">@condition</a>
                    }

                </div>
            </div>
            <!--Remove all filters-->
            <div class="form-actions d-inline-block bg-transparent ml-5 pl-2">
                <div class="p-2 bg-transparent">
                    <a class="text-dark bg-transparent mr-0" asp-action="GetAllBooks" asp-controller="Books">
                        <img src="https://img.icons8.com/ultraviolet/80/000000/clear-filters.png" style="width:25px;height:25px" />
                        Remove
                    </a>
                </div>
            </div>
        </form>
    </div>




</div>

<!--BookList-->
<div class="container mt-2 pt-2 bg-transparent">

    <div class="row">
        <!--Add new book card-->
        <div class="col-sm-3 m-0">
            <div class="card mb-4 shadow-sm" style="width:240px">
                <svg class="p-0" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="240" height="196"
                     viewBox="0 0 100 100"
                     style=" fill:#000000;">
                <path fill="#c7ede6" d="M88.141,55.405c0.3-0.616,0.566-1.264,0.796-1.943c2.633-7.77-1.349-17.078-9.733-19.325c-0.906-11.384-8.906-19.193-17.941-20.526c-10.341-1.525-19.814,5.044-22.966,15.485c-3.799-1.346-7.501-1.182-10.99,0.857c-1.583,0.732-3.031,1.812-4.33,3.233c-1.907,2.086-3.147,4.719-3.652,7.495c-0.748,0.118-1.483,0.236-2.176,0.484c-4.04,1.449-6.589,4.431-7.288,8.923c-0.435,2.797,0.443,5.587,0.933,6.714c1.935,4.455,6.422,6.98,10.981,6.312c0.227-0.033,0.557,0.069,0.752,0.233c0.241,7.12,3.698,13.417,8.884,17.014c8.321,5.772,19.027,3.994,25.781-3.921c2.894,2.96,6.338,4.398,10.384,3.876c4.023-0.519,7.147-2.739,9.426-6.349c1.053,0.283,2.051,0.691,3.083,0.804c4.042,0.442,7.324-1.165,9.732-4.8c0.922-1.391,1.793-3.194,1.793-6.354C91.611,60.362,90.318,57.394,88.141,55.405z"></path>
                <path fill="#fdfcef" d="M76.247,48.776c0,0,11.691,0,11.762,0c2.7,0,4.888-2.189,4.888-4.889c0-2.355-1.666-4.321-3.884-4.784c0.026-0.206,0.043-0.415,0.043-0.628c0-2.796-2.267-5.063-5.063-5.063c-1.651,0-3.113,0.794-4.037,2.017c-0.236-3.113-3.017-5.514-6.27-5.116c-2.379,0.291-4.346,2.13-4.784,4.486c-0.14,0.756-0.126,1.489,0.014,2.177c-0.638-0.687-1.546-1.119-2.557-1.119c-1.85,0-3.361,1.441-3.48,3.261c-0.84-0.186-1.754-0.174-2.717,0.188c-1.84,0.691-3.15,2.423-3.227,4.387c-0.109,2.789,2.12,5.085,4.885,5.085c0.21,0,0.948,0,1.118,0H73.09"></path>
                <path fill="#472b29" d="M88.008,49.276H76.247c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h11.762c2.42,0,4.389-1.969,4.389-4.389c0-2.067-1.466-3.873-3.486-4.295c-0.254-0.053-0.426-0.292-0.394-0.551c0.022-0.186,0.039-0.374,0.039-0.566c0-2.517-2.047-4.563-4.563-4.563c-1.438,0-2.765,0.663-3.637,1.818c-0.126,0.165-0.343,0.237-0.54,0.178c-0.2-0.059-0.342-0.234-0.358-0.441c-0.104-1.377-0.778-2.67-1.85-3.549c-1.083-0.888-2.457-1.282-3.861-1.109c-2.165,0.266-3.955,1.943-4.353,4.081c-0.124,0.667-0.12,1.335,0.013,1.986c0.044,0.22-0.062,0.442-0.262,0.544c-0.197,0.104-0.442,0.061-0.595-0.104c-0.575-0.618-1.353-0.959-2.19-0.959c-1.568,0-2.878,1.227-2.98,2.793c-0.01,0.146-0.082,0.28-0.199,0.367c-0.116,0.089-0.269,0.118-0.407,0.089c-0.843-0.187-1.639-0.132-2.434,0.167c-1.669,0.628-2.836,2.211-2.903,3.939c-0.047,1.207,0.387,2.35,1.222,3.218s1.959,1.347,3.163,1.347h11.27c0.276,0,0.5,0.224,0.5,0.5s-0.224,0.5-0.5,0.5h-11.27c-1.479,0-2.858-0.587-3.884-1.653c-1.025-1.065-1.559-2.469-1.501-3.95c0.084-2.126,1.511-4.069,3.552-4.836c0.8-0.301,1.629-0.398,2.468-0.299c0.377-1.822,1.996-3.182,3.904-3.182c0.685,0,1.354,0.18,1.944,0.51c-0.001-0.386,0.035-0.772,0.107-1.159c0.476-2.562,2.619-4.573,5.214-4.891c1.675-0.203,3.321,0.266,4.616,1.329c1.004,0.822,1.716,1.95,2.038,3.191c1.012-0.915,2.318-1.425,3.713-1.425c3.067,0,5.563,2.496,5.563,5.563c0,0.083-0.002,0.166-0.007,0.248c2.254,0.673,3.848,2.776,3.848,5.164C93.397,46.859,90.98,49.276,88.008,49.276z"></path>
                <path fill="#fdfcef" d="M73.414,38.007c-1.808-0.119-3.365,1.13-3.476,2.789c-0.014,0.206-0.005,0.409,0.025,0.606c-0.349-0.394-0.865-0.661-1.458-0.7c-1.085-0.071-2.022,0.645-2.158,1.62c-0.197-0.054-0.403-0.09-0.616-0.104c-1.582-0.104-2.944,0.989-3.042,2.441"></path>
                <path fill="#472b29" d="M62.689,44.909c-0.006,0-0.011,0-0.017-0.001c-0.138-0.009-0.242-0.128-0.232-0.266c0.106-1.586,1.569-2.783,3.308-2.674c0.136,0.009,0.272,0.026,0.408,0.053c0.273-0.968,1.253-1.645,2.365-1.567c0.426,0.027,0.824,0.16,1.163,0.382c0.001-0.019,0.002-0.037,0.004-0.056c0.12-1.794,1.802-3.156,3.742-3.021c0.138,0.009,0.242,0.128,0.232,0.266c-0.008,0.132-0.118,0.233-0.249,0.233c-0.005,0-0.011,0-0.017-0.001c-1.674-0.11-3.109,1.037-3.211,2.557c-0.012,0.187-0.004,0.372,0.023,0.552c0.017,0.109-0.041,0.218-0.141,0.265c-0.102,0.045-0.221,0.022-0.294-0.061c-0.321-0.364-0.778-0.583-1.287-0.617c-0.948-0.038-1.774,0.556-1.893,1.404c-0.011,0.071-0.051,0.135-0.11,0.175s-0.135,0.051-0.203,0.032c-0.187-0.051-0.378-0.083-0.568-0.097c-1.44-0.088-2.687,0.897-2.775,2.209C62.929,44.807,62.82,44.909,62.689,44.909z"></path>
                <path fill="#fdfcef" d="M89.988,39.676c-1.699-0.801-3.664-0.234-4.389,1.267c-0.09,0.186-0.157,0.379-0.201,0.574"></path>
                <path fill="#472b29" d="M85.398,41.766c-0.019,0-0.037-0.002-0.056-0.007c-0.135-0.03-0.219-0.165-0.188-0.299c0.049-0.216,0.123-0.427,0.219-0.626c0.783-1.622,2.899-2.242,4.721-1.385c0.125,0.06,0.179,0.208,0.12,0.333c-0.06,0.126-0.209,0.177-0.333,0.12c-1.575-0.744-3.393-0.227-4.057,1.148c-0.08,0.166-0.142,0.342-0.184,0.521C85.615,41.688,85.512,41.766,85.398,41.766z"></path>
                <path fill="#fff" d="M17.806 47.44H7.776c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h10.03c.276 0 .5.224.5.5S18.083 47.44 17.806 47.44zM20.688 47.44h-1.446c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h1.446c.276 0 .5.224.5.5S20.965 47.44 20.688 47.44zM24.742 47.44h-2.546c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h2.546c.276 0 .5.224.5.5S25.018 47.44 24.742 47.44zM24.742 49.305h-9.616c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9.616c.276 0 .5.224.5.5S25.018 49.305 24.742 49.305zM13.394 49.305h-.58c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h.58c.276 0 .5.224.5.5S13.671 49.305 13.394 49.305zM11.017 49.305H9.561c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h1.456c.276 0 .5.224.5.5S11.294 49.305 11.017 49.305zM20.153 45.576h-5.027c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h5.027c.276 0 .5.224.5.5S20.429 45.576 20.153 45.576zM20.153 43.711h-1.257c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h1.257c.276 0 .5.224.5.5S20.429 43.711 20.153 43.711zM16.884 51.171h-1.759c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h1.759c.276 0 .5.224.5.5S17.161 51.171 16.884 51.171zM70.984 21.164h-10.03c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h10.03c.276 0 .5.224.5.5S71.26 21.164 70.984 21.164zM73.866 21.164H72.42c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h1.446c.276 0 .5.224.5.5S74.142 21.164 73.866 21.164zM77.921 21.164h-2.546c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h2.546c.276 0 .5.224.5.5S78.197 21.164 77.921 21.164zM75.894 17.434h-9.616c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9.616c.276 0 .5.224.5.5S76.171 17.434 75.894 17.434zM64.547 17.434h-.58c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h.58c.276 0 .5.224.5.5S64.823 17.434 64.547 17.434zM62.17 17.434h-1.456c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h1.456c.276 0 .5.224.5.5S62.446 17.434 62.17 17.434zM73.332 19.298h-5.028c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h5.028c.276 0 .5.224.5.5S73.608 19.298 73.332 19.298z"></path>
                <path fill="#fff" d="M73.332 17.434h-1.258c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h1.258c.276 0 .5.224.5.5S73.608 17.434 73.332 17.434zM66.848 19.298H65.09c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h1.759c.276 0 .5.224.5.5S67.125 19.298 66.848 19.298z"></path>
                <path fill="#00a5a5" d="M66.253,72.374H36.54c-3.766,0-6.847-3.081-6.847-6.847V35.814c0-3.766,3.081-6.847,6.847-6.847h29.713c3.766,0,6.847,3.081,6.847,6.847v29.713C73.1,69.293,70.019,72.374,66.253,72.374z"></path>
                <path fill="#472b29" d="M66.253,73.074H36.54c-4.162,0-7.548-3.386-7.548-7.547V35.814c0-4.162,3.386-7.548,7.548-7.548h29.713c4.162,0,7.548,3.386,7.548,7.548v29.713C73.8,69.688,70.415,73.074,66.253,73.074z M36.54,29.667c-3.39,0-6.147,2.758-6.147,6.147v29.713c0,3.39,2.758,6.146,6.147,6.146h29.713c3.39,0,6.147-2.757,6.147-6.146V35.814c0-3.39-2.758-6.147-6.147-6.147H36.54z"></path>
                <path fill="#fdfcee" d="M64.45,69.273H38.342c-3.052,0-5.549-2.497-5.549-5.549V37.616c0-3.052,2.497-5.549,5.549-5.549H64.45c3.052,0,5.549,2.497,5.549,5.549v26.109C69.999,66.776,67.502,69.273,64.45,69.273z"></path>
                <path fill="#472b29" d="M64.345 69.623H38.447c-3.311 0-6.004-2.692-6.004-6.003V37.721c0-3.311 2.693-6.004 6.004-6.004h24.662c.193 0 .35.156.35.35 0 .193-.156.35-.35.35H38.447c-2.925 0-5.305 2.38-5.305 5.305V63.62c0 2.924 2.38 5.304 5.305 5.304h25.898c2.925 0 5.305-2.38 5.305-5.304V49.293c0-.193.156-.35.35-.35s.35.156.35.35V63.62C70.349 66.93 67.656 69.623 64.345 69.623zM70 47.575c-.193 0-.35-.156-.35-.35v-2.756c0-.193.156-.35.35-.35s.35.156.35.35v2.756C70.349 47.419 70.193 47.575 70 47.575zM70 43.441c-.193 0-.35-.156-.35-.35v-1.378c0-.193.156-.35.35-.35s.35.156.35.35v1.378C70.349 43.285 70.193 43.441 70 43.441z"></path>
                <path fill="#cbc9bc" d="M62.863,59.194l-17.949,1.733c-0.406,0.039-0.766-0.258-0.805-0.663l-1.596-16.531c-0.039-0.406,0.258-0.766,0.663-0.805l17.949-1.733c0.406-0.039,0.766,0.258,0.805,0.663l1.596,16.531C63.566,58.794,63.269,59.155,62.863,59.194z"></path>
                <path fill="#472b29" d="M44.84,61.43c-0.286,0-0.561-0.099-0.784-0.283c-0.255-0.21-0.413-0.507-0.445-0.836L42.015,43.78c-0.032-0.327,0.065-0.648,0.275-0.904c0.211-0.256,0.508-0.414,0.838-0.446l17.949-1.733c0.688-0.062,1.284,0.435,1.352,1.113l1.595,16.531c0.032,0.328-0.065,0.65-0.276,0.905c-0.21,0.256-0.507,0.414-0.837,0.446l-17.949,1.732C44.922,61.428,44.881,61.43,44.84,61.43z M61.197,41.691c-0.008,0-0.016,0-0.023,0.001l-17.949,1.733c-0.085,0.008-0.138,0.057-0.161,0.085c-0.022,0.028-0.061,0.089-0.052,0.173l1.596,16.532c0.008,0.085,0.057,0.137,0.085,0.16s0.093,0.062,0.174,0.053l17.949-1.732c0.085-0.008,0.138-0.057,0.161-0.085c0.022-0.028,0.061-0.089,0.052-0.174l-1.595-16.531C61.422,41.784,61.317,41.691,61.197,41.691z"></path>
                <path fill="#fdfcef" d="M62.469,56.786l-17.515,4.289c-0.396,0.097-0.795-0.145-0.892-0.541l-3.95-16.131c-0.097-0.396,0.145-0.795,0.541-0.892l17.515-4.289c0.396-0.097,0.795,0.145,0.892,0.541l3.95,16.131C63.107,56.289,62.865,56.689,62.469,56.786z"></path>
                <path fill="#472b29" d="M44.776,61.596c-0.224,0-0.443-0.061-0.64-0.18c-0.282-0.172-0.481-0.443-0.56-0.764l-3.95-16.132c-0.079-0.321-0.027-0.653,0.144-0.937c0.172-0.282,0.443-0.481,0.764-0.56l17.516-4.289c0.323-0.079,0.654-0.028,0.937,0.144s0.481,0.443,0.56,0.764l3.95,16.131c0.162,0.664-0.245,1.335-0.907,1.497L45.073,61.56C44.974,61.585,44.875,61.596,44.776,61.596z M58.344,39.7c-0.018,0-0.037,0.002-0.057,0.007l-17.516,4.289c-0.083,0.021-0.128,0.076-0.146,0.107c-0.02,0.032-0.048,0.097-0.028,0.18l3.95,16.132c0.021,0.083,0.076,0.128,0.107,0.146c0.032,0.02,0.099,0.049,0.18,0.028L62.35,56.3c0.128-0.031,0.206-0.161,0.175-0.289l-3.95-16.13c-0.021-0.083-0.076-0.128-0.107-0.146C58.443,39.72,58.4,39.7,58.344,39.7z"></path>
                <path fill="#c6dff1" d="M43.217 42.784H59.25V55.143H43.217z" transform="rotate(-13.76 51.24 48.974)"></path>
                <path fill="#472b29" d="M44.752,57.144l-3.047-12.441l16.011-3.921l3.047,12.441L44.752,57.144z M42.25,45.033l2.832,11.566l15.136-3.706l-2.832-11.566L42.25,45.033z"></path>
                <path fill="#f1bc19" d="M47.155 45.015A1.336 1.336 0 1 0 47.155 47.687A1.336 1.336 0 1 0 47.155 45.015Z" transform="rotate(-13.76 47.162 46.361)"></path>
                <path fill="#472b29" d="M47.157,47.913c-0.703,0-1.344-0.479-1.519-1.19c-0.204-0.836,0.311-1.683,1.146-1.888c0.83-0.203,1.682,0.308,1.888,1.145c0.099,0.405,0.035,0.824-0.182,1.182c-0.216,0.356-0.558,0.607-0.963,0.707C47.403,47.898,47.279,47.913,47.157,47.913z M47.156,45.24c-0.088,0-0.177,0.011-0.265,0.032c-0.595,0.146-0.961,0.748-0.815,1.343c0.146,0.596,0.757,0.959,1.344,0.815c0.288-0.07,0.532-0.249,0.686-0.503c0.154-0.254,0.2-0.553,0.129-0.841C48.11,45.58,47.655,45.24,47.156,45.24z"></path>
                <path fill="#d5e27b" d="M54.779,47.663l1.395-2.856c0.094-0.192,0.341-0.24,0.5-0.097l2.177,1.955l1.515,5.885"></path>
                <path fill="#472b29" d="M60.148,52.607l-1.498-5.818l-2.127-1.911c-0.031-0.027-0.068-0.024-0.081-0.023c-0.018,0.004-0.048,0.015-0.066,0.052l-1.395,2.856l-0.404-0.197l1.395-2.856c0.076-0.155,0.216-0.263,0.384-0.296c0.168-0.032,0.339,0.015,0.469,0.13l2.229,2.002l0.017,0.066l1.515,5.885L60.148,52.607z"></path>
                <path fill="#88ae45" d="M48.125,56.086l3.811-10.316c0.077-0.207,0.342-0.274,0.508-0.129l7.921,6.91l0.124,0.507L48.125,56.086z"></path>
                <path fill="#472b29" d="M47.768,56.406l3.957-10.714c0.062-0.167,0.203-0.292,0.377-0.336c0.173-0.046,0.357-0.001,0.49,0.115l7.975,6.957l0.195,0.795L47.768,56.406z M52.238,45.789c-0.011,0-0.02,0.002-0.025,0.004c-0.015,0.004-0.051,0.017-0.065,0.057l-3.664,9.918l11.734-2.874l-0.053-0.219l-7.867-6.863C52.277,45.794,52.256,45.789,52.238,45.789z"></path>
                <path fill="#6f913d" d="M44.079,53.308l1.957-3.608c0.127-0.235,0.443-0.296,0.648-0.126l2.889,2.389l-1.446,4.123l-3.208,0.786L44.079,53.308z"></path>
                <path fill="#472b29" d="M44.75,57.144l-0.909-3.868l0.04-0.075l1.956-3.607c0.094-0.172,0.259-0.291,0.452-0.328c0.192-0.04,0.389,0.012,0.537,0.135l3.01,2.49l-1.538,4.386L44.75,57.144z M44.317,53.34l0.767,3.259l2.87-0.702l1.353-3.86l-2.767-2.289c-0.045-0.037-0.104-0.056-0.166-0.041c-0.061,0.012-0.112,0.049-0.142,0.102L44.317,53.34z"></path>
                <path fill="#fdfcef" d="M40.083,75.141c1.883,0,3.517,0,3.54,0c2.11,0,3.821-1.674,3.821-3.739c0-1.802-1.302-3.305-3.035-3.66c0.02-0.158,0.034-0.317,0.034-0.48c0-2.139-1.772-3.873-3.957-3.873c-1.29,0-2.433,0.607-3.155,1.543c-0.185-2.381-2.358-4.218-4.9-3.913c-1.859,0.223-3.397,1.629-3.739,3.431c-0.11,0.578-0.098,1.139,0.011,1.665c-0.498-0.525-1.208-0.856-1.998-0.856c-1.446,0-2.627,1.102-2.72,2.494c-0.657-0.142-1.371-0.133-2.123,0.143c-1.438,0.528-2.462,1.853-2.522,3.356c-0.085,2.133,1.657,3.889,3.818,3.889c0.164,0,0.741,0,0.874,0h7.934 M33.606,75.141h0.36"></path>
                <path fill="#472b29" d="M43.624,75.641h-3.541c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h3.541c1.831,0,3.32-1.453,3.32-3.239c0-1.524-1.108-2.857-2.636-3.17c-0.255-0.053-0.428-0.293-0.396-0.552c0.017-0.137,0.029-0.276,0.029-0.419c0-1.859-1.551-3.372-3.457-3.372c-1.092,0-2.098,0.491-2.76,1.348c-0.125,0.164-0.342,0.23-0.538,0.174c-0.198-0.06-0.34-0.234-0.355-0.44c-0.079-1.02-0.565-1.944-1.369-2.604c-0.83-0.681-1.888-0.983-2.974-0.853c-1.646,0.197-3.006,1.442-3.307,3.027c-0.095,0.494-0.091,0.989,0.009,1.472c0.046,0.219-0.06,0.441-0.258,0.545c-0.197,0.103-0.438,0.063-0.595-0.1c-0.428-0.451-1.009-0.7-1.635-0.7c-1.17,0-2.146,0.891-2.221,2.027c-0.01,0.145-0.082,0.278-0.198,0.366c-0.115,0.087-0.264,0.118-0.406,0.09c-0.64-0.141-1.244-0.099-1.845,0.124c-1.263,0.463-2.146,1.631-2.195,2.905c-0.035,0.876,0.282,1.709,0.895,2.346c0.635,0.661,1.495,1.024,2.423,1.024h8.808c0.276,0,0.5,0.224,0.5,0.5s-0.224,0.5-0.5,0.5h-8.808c-1.185,0-2.331-0.485-3.144-1.331c-0.803-0.835-1.219-1.929-1.174-3.078c0.066-1.675,1.212-3.204,2.85-3.806c0.61-0.224,1.244-0.303,1.88-0.244c0.344-1.396,1.629-2.424,3.136-2.424c0.493,0,0.977,0.113,1.413,0.323c0.009-0.242,0.037-0.484,0.083-0.727c0.381-2.008,2.096-3.585,4.17-3.833c1.364-0.169,2.686,0.218,3.727,1.071c0.748,0.613,1.278,1.409,1.546,2.302c0.791-0.647,1.786-1.006,2.843-1.006c2.458,0,4.457,1.961,4.457,4.372c0,0.034-0.001,0.068-0.002,0.103c1.765,0.555,3.004,2.188,3.004,4.038C47.944,73.74,46.006,75.641,43.624,75.641z M33.965,75.641h-0.359c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h0.359c0.276,0,0.5,0.224,0.5,0.5S34.242,75.641,33.965,75.641z"></path>
                <path fill="#472b29" d="M41.916 69.839c-.018 0-.036-.002-.055-.006-.135-.03-.22-.164-.189-.299.036-.163.094-.324.169-.479.605-1.226 2.274-1.678 3.723-1.006.125.058.18.206.121.332-.058.125-.205.179-.332.121-1.199-.555-2.576-.21-3.063.773-.058.119-.102.242-.129.368C42.133 69.759 42.031 69.839 41.916 69.839zM36.757 75.641H35.65c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h1.106c.276 0 .5.224.5.5S37.033 75.641 36.757 75.641z"></path></svg>
                <div class="card-body pt-0 pb-3 pl-3 pr-2 m-0">
                    <p class="card-text">
                        <dl>
                            <dt>Title:</dt>
                            <dd>book's name</dd>
                            <dt>Author:</dt>
                            <dd>author's Full Name</dd>
                        </dl>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">

                            <a class="btn btn-sm btn-outline-dark" asp-action="Create" asp-controller="Books">Add new+</a>

                        </div>
                        <text class="text-info mr-1 font-italic">Price</text>
                    </div>
                </div>
            </div>
        </div>

        <!--Books cards-->
        @foreach (var item in Model.Books)
        {
            <div class="col-sm-3 m-0">

                <div class="card mb-4 shadow-sm" style="width:240px">

                    <img src="@item.Image" height="195">
                    <div class="card-body pt-0 pb-3 pl-3 pr-2 m-0">
                        @if (item.IsSecondHand.Equals(true))
                        {
                        <svg  class="float-right mt-1"  xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                             width="53" height="53"
                             viewBox="0 0 172 172"
                             style=" fill:#000000;">
                        <g transform="translate(-25.8,-25.8) scale(1.3,1.3)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M150.04248,95.54772c0.516,-1.05952 0.97352,-2.17408 1.36912,-3.34196c4.52876,-13.3644 -2.32028,-29.37416 -16.74076,-33.239c-1.55832,-19.57876 -15.31832,-33.01196 -30.85852,-35.303c-17.78652,-2.623 -34.08008,8.67568 -39.50152,26.6342c-6.53428,-2.31512 -12.90172,-2.03304 -18.9028,1.47404c-2.72276,1.25904 -5.21332,3.11664 -7.4476,5.56076c-3.28004,3.58792 -5.41284,8.11668 -6.28144,12.8914c-1.28656,0.20296 -2.55076,0.40592 -3.74272,0.83248c-6.9488,2.49228 -11.33308,7.62132 -12.53536,15.34756c-0.7482,4.81084 0.76196,9.60964 1.60476,11.54808c3.3282,7.6626 11.04584,12.0056 18.88732,10.85664c0.39044,-0.05676 0.95804,0.11868 1.29344,0.40076c0.41452,12.2464 6.36056,23.07724 15.28048,29.26408c14.31212,9.92784 32.72644,6.86968 44.34332,-6.74412c4.97768,5.0912 10.90136,7.56456 17.86048,6.66672c6.91956,-0.89268 12.29284,-4.71108 16.21272,-10.92028c1.81116,0.48676 3.52772,1.18852 5.30276,1.38288c6.95224,0.76024 12.55084,-2.03648 16.73904,-8.256c0.14276,-0.21328 0.34916,-0.37668 0.52632,-0.56416c0.59856,-1.37256 1.19712,-2.74512 1.79568,-4.11768c0.2666,-2.08292 0.73788,-4.16756 0.76196,-6.24704c0.06708,-5.60032 -2.22224,-10.70528 -5.96668,-14.12636z" fill="#c8ede6"></path><path d="M67.65964,57.48756c0,0 20.10852,0 20.23064,0c4.644,0 8.40736,-3.76508 8.40736,-8.40908c0,-4.0506 -2.86552,-7.43212 -6.68048,-8.22848c0.04472,-0.35432 0.07396,-0.7138 0.07396,-1.08016c0,-4.80912 -3.89924,-8.70836 -8.70836,-8.70836c-2.83972,0 -5.35436,1.36568 -6.94364,3.46924c-0.40592,-5.35436 -5.18924,-9.48408 -10.7844,-8.79952c-4.09188,0.50052 -7.47512,3.6636 -8.22848,7.71592c-0.2408,1.30032 -0.21672,2.56108 0.02408,3.74444c-1.09736,-1.18164 -2.65912,-1.92468 -4.39804,-1.92468c-3.182,0 -5.78092,2.47852 -5.9856,5.60892c-1.4448,-0.31992 -3.01688,-0.29928 -4.67324,0.32336c-3.1648,1.18852 -5.418,4.16756 -5.55044,7.54564c-0.18748,4.79708 3.6464,8.7462 8.4022,8.7462c0.3612,0 1.63056,0 1.92296,0h17.45972" fill="#fdfcef"></path><path d="M87.89028,58.34756h-20.23064c-0.47472,0 -0.86,-0.38528 -0.86,-0.86c0,-0.47472 0.38528,-0.86 0.86,-0.86h20.23064c4.1624,0 7.54908,-3.38668 7.54908,-7.54908c0,-3.55352 -2.52152,-6.66156 -5.99592,-7.3874c-0.4386,-0.09116 -0.73272,-0.50396 -0.67768,-0.94944c0.03956,-0.31992 0.06708,-0.64328 0.06708,-0.9718c0,-4.32924 -3.52084,-7.84836 -7.84664,-7.84836c-2.47336,0 -4.7558,1.14036 -6.25736,3.12696c-0.215,0.28552 -0.58136,0.40764 -0.9288,0.30616c-0.34228,-0.10148 -0.58824,-0.40248 -0.61404,-0.75852c-0.17888,-2.36844 -1.33988,-4.59412 -3.182,-6.10428c-1.86276,-1.52736 -4.22432,-2.20504 -6.6392,-1.90748c-3.72552,0.45752 -6.80432,3.34196 -7.48716,7.01932c-0.21328,1.14724 -0.2064,2.2962 0.02236,3.41592c0.07568,0.3784 -0.10664,0.76024 -0.45064,0.93568c-0.344,0.17888 -0.76196,0.1032 -1.0234,-0.17888c-0.989,-1.06296 -2.32716,-1.64948 -3.7668,-1.64948c-2.69868,0 -4.95016,2.11216 -5.12732,4.80568c-0.0172,0.25112 -0.14104,0.47988 -0.34228,0.62952c-0.20124,0.15308 -0.46096,0.2064 -0.70176,0.15308c-1.44652,-0.3182 -2.81564,-0.22704 -4.18476,0.28724c-2.87068,1.07844 -4.8762,3.79948 -4.99316,6.77336c-0.08084,2.07604 0.66564,4.042 2.10012,5.53496c1.4362,1.49468 3.36948,2.31856 5.44208,2.31856h19.38268c0.47472,0 0.86,0.38528 0.86,0.86c0,0.47472 -0.38528,0.86 -0.86,0.86h-19.38612c-2.54388,0 -4.91576,-1.01136 -6.68048,-2.84488c-1.763,-1.83352 -2.67976,-4.24668 -2.58,-6.794c0.14276,-3.65672 2.5972,-6.99868 6.106,-8.3162c1.376,-0.51772 2.79672,-0.68456 4.24496,-0.51428c0.64844,-3.13384 3.43656,-5.47304 6.7166,-5.47304c1.17648,0 2.32888,0.3096 3.34368,0.8772c0,-0.66392 0.0602,-1.32784 0.18232,-1.99348c0.82044,-4.40664 4.50812,-7.86556 8.9698,-8.41252c2.88788,-0.3526 5.7104,0.45752 7.93952,2.28416c1.72516,1.41556 2.95152,3.35572 3.50536,5.49196c1.74064,-1.57552 3.98868,-2.45272 6.38808,-2.45272c5.27524,0 9.56664,4.29312 9.56664,9.56836c0,0.14276 -0.00344,0.28552 -0.01204,0.42656c3.87688,1.15756 6.61856,4.77472 6.61856,8.88208c0.00172,5.11356 -4.15552,9.26908 -9.26736,9.26908z" fill="#472b29"></path><path d="M62.78688,38.9666c-3.10976,-0.20468 -5.7878,1.9436 -5.97872,4.79708c-0.02408,0.35432 -0.0086,0.70348 0.043,1.04232c-0.60028,-0.67768 -1.4878,-1.13692 -2.50776,-1.204c-1.8662,-0.12212 -3.47784,1.1094 -3.71176,2.7864c-0.33884,-0.09288 -0.69316,-0.1548 -1.05952,-0.17888c-2.72104,-0.17888 -5.06368,1.70108 -5.23224,4.19852" fill="#fdfcef"></path><path d="M44.3416,50.83632c-0.01032,0 -0.02064,0 -0.02924,-0.00172c-0.23736,-0.01548 -0.41624,-0.22016 -0.40076,-0.45752c0.18404,-2.72964 2.73136,-4.79708 5.68976,-4.59928c0.23564,0.01548 0.46956,0.04472 0.70348,0.09116c0.47128,-1.66496 2.16032,-2.8294 4.06952,-2.69524c0.731,0.04644 1.41556,0.27348 2.00208,0.65704c0,-0.03268 0.00344,-0.06364 0.00516,-0.09632c0.2064,-3.0874 3.07364,-5.4352 6.43624,-5.19612c0.23736,0.01548 0.41624,0.22016 0.40076,0.45752c-0.01548,0.23736 -0.21328,0.4386 -0.45752,0.39904c-2.83972,-0.1806 -5.34576,1.78364 -5.5212,4.39804c-0.02064,0.31648 -0.00688,0.6364 0.03956,0.95116c0.02924,0.18748 -0.07052,0.37324 -0.24252,0.45408c-0.172,0.08084 -0.37668,0.03784 -0.50396,-0.10492c-0.55556,-0.6278 -1.3416,-1.00448 -2.21364,-1.06124c-1.63572,-0.05848 -3.053,0.95632 -3.25768,2.41488c-0.0172,0.12212 -0.086,0.2322 -0.1892,0.301c-0.1032,0.06708 -0.22876,0.08772 -0.35088,0.05504c-0.32164,-0.08772 -0.64844,-0.14276 -0.97524,-0.16684c-2.4768,-0.15824 -4.62164,1.54112 -4.773,3.79948c-0.01892,0.22704 -0.20812,0.40076 -0.43172,0.40076z" fill="#472b29"></path><path d="M91.29588,41.83556c-2.92228,-1.37772 -6.30208,-0.40248 -7.54908,2.17924c-0.1548,0.31992 -0.27004,0.65188 -0.34572,0.98728" fill="#fdfcef"></path><path d="M83.40108,45.43208c-0.03096,0 -0.06364,-0.00344 -0.09632,-0.01032c-0.23048,-0.05332 -0.37668,-0.2838 -0.32336,-0.516c0.08428,-0.37324 0.21156,-0.73616 0.37668,-1.07844c1.34676,-2.78812 4.99144,-3.85108 8.12012,-2.3822c0.215,0.1032 0.30788,0.35776 0.2064,0.57276c-0.10148,0.21672 -0.35948,0.30272 -0.57276,0.2064c-2.70728,-1.27968 -5.83768,-0.39044 -6.97976,1.97628c-0.1376,0.2838 -0.24252,0.5848 -0.31304,0.89612c-0.04472,0.20124 -0.22188,0.3354 -0.41796,0.3354z" fill="#472b29"></path><path d="M25.62628,98.04h-17.2516c-0.47472,0 -0.86,-0.38528 -0.86,-0.86c0,-0.47472 0.38528,-0.86 0.86,-0.86h17.2516c0.47472,0 0.86,0.38528 0.86,0.86c0,0.47472 -0.38356,0.86 -0.86,0.86zM31.4416,97.18c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-2.48712c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h2.48712c0.47644,0 0.86,-0.38528 0.86,-0.86zM38.4162,97.18c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-4.37912c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h4.37912c0.47644,0 0.86,-0.38528 0.86,-0.86zM38.4162,100.62c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-16.53952c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h16.53952c0.47644,0 0.86,-0.38528 0.86,-0.86zM18.89764,100.62c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-0.9976c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h0.9976c0.47472,0 0.86,-0.38528 0.86,-0.86zM14.81092,100.62c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-2.50604c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h2.50604c0.47472,0 0.86,-0.38528 0.86,-0.86zM30.52312,93.74c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-8.64644c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h8.64644c0.47644,0 0.86,-0.38528 0.86,-0.86zM30.52312,90.3c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-2.16204c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h2.16204c0.47644,0 0.86,-0.38528 0.86,-0.86zM24.90044,104.06c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-3.02376c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h3.02376c0.47644,0 0.86,-0.38528 0.86,-0.86z" fill="#ffffff"></path><path d="M125.11968,44.72h-17.2516c-0.47472,0 -0.86,-0.38528 -0.86,-0.86c0,-0.47472 0.38528,-0.86 0.86,-0.86h17.25332c0.47472,0 0.86,0.38528 0.86,0.86c0,0.47472 -0.38528,0.86 -0.86172,0.86zM130.935,43.86c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-2.48712c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h2.48712c0.47644,0 0.86,-0.38528 0.86,-0.86zM137.9096,43.86c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-4.37912c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h4.37912c0.47472,0 0.86,-0.38528 0.86,-0.86zM134.42488,36.98c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-16.53952c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h16.53952c0.47472,0 0.86,-0.38528 0.86,-0.86zM114.90632,36.98c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-0.9976c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h0.9976c0.47644,0 0.86,-0.38528 0.86,-0.86zM110.81788,36.98c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-2.50432c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h2.50432c0.47644,0 0.86,-0.38528 0.86,-0.86zM130.01652,40.42c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-8.64644c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h8.64644c0.47472,0 0.86,-0.38528 0.86,-0.86zM130.01652,36.98c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-2.16204c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h2.16204c0.47472,0 0.86,-0.38528 0.86,-0.86zM118.86576,40.42c0,-0.47472 -0.38528,-0.86 -0.86,-0.86h-3.02376c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h3.02376c0.47644,0 0.86,-0.38528 0.86,-0.86z" fill="#ffffff"></path><path d="M46.5604,98.88624l-0.20296,-0.4644c-0.82388,-2.40112 -0.65532,-4.71624 0.55212,-6.98664l5.92884,-8.60344l-2.7606,-1.71656c-0.17716,-0.10836 -0.18748,-0.2666 -0.1634,-0.38184c0.02236,-0.1118 0.09288,-0.25284 0.29928,-0.2838c0,0 14.94508,-2.29964 14.95024,-2.29964c0.19608,0 0.3268,0.09288 0.3784,0.22876l5.85144,15.22372c0.02924,0.0774 0.05848,0.19436 -0.02924,0.32336c-0.07224,0.10492 -0.19608,0.17544 -0.3096,0.17544v0c-0.06192,0 -0.12384,-0.02064 -0.19092,-0.0602l-2.77608,-1.72516l-8.8322,13.0892l-8.62752,1.0148z" fill="#00a5a5"></path><path d="M65.3342,79.3436h0.0086h-0.0086M64.6634,79.4468l4.70936,12.24812l-1.63056,-1.0148l-1.2986,1.92296l-7.87416,11.67192l-7.267,0.85484l-3.63952,-6.73552l-0.09116,-0.2064l-0.07224,-0.15996c-0.69488,-2.08292 -0.559,-4.01964 0.4128,-5.91336l5.203,-7.56112l1.42932,-2.07776l-1.9006,-1.18164l12.01936,-1.84728M65.20692,76.9442c-0.07912,0 -0.15996,0.00516 -0.23908,0.01892l-14.93476,2.29792c-1.43792,0.22016 -1.82492,2.11044 -0.58824,2.87928l1.68904,1.0492l-5.28384,7.68152c-1.39148,2.61612 -1.53768,5.2976 -0.59168,8.03756c0.08084,0.18232 0.1634,0.36808 0.24596,0.5504l4.45824,8.25428l9.98804,-1.17476l8.49164,-12.58696l1.79052,1.11284c0.27004,0.16856 0.55384,0.24252 0.82732,0.24252c1.01308,0 1.88684,-1.03028 1.462,-2.13624l-5.85144,-15.222c-0.23736,-0.61232 -0.82388,-1.00448 -1.46372,-1.00448z" fill="#472b29"></path><path d="M64.24544,124.3302c-2.6144,0 -4.99832,-1.45168 -6.22296,-3.78572l-9.37744,-17.8794c2.18612,1.2728 4.6096,2.13796 7.98252,2.13796h24.381c0.19092,0 0.34744,0.1634 0.34744,0.36292v18.80132c0,0.19952 -0.15652,0.36292 -0.34744,0.36292z" fill="#00a5a5"></path><path d="M51.33512,105.20552c1.5308,0.50224 3.25424,0.80324 5.29072,0.80324h23.52616v17.11744h-15.90656c-2.16548,0 -4.14176,-1.204 -5.15828,-3.14072l-7.75204,-14.77996M45.30996,98.9l11.6444,22.20348c1.42932,2.72448 4.23464,4.43072 7.29108,4.43072h16.76312c0.85656,0 1.55144,-0.70176 1.55144,-1.56692v-18.7996c0,-0.86516 -0.69488,-1.56692 -1.55144,-1.56692h-24.381c-5.11012,0 -7.89308,-2.16032 -11.3176,-4.70076z" fill="#472b29"></path><path d="M97.56012,127.796c-0.10664,0 -0.19092,-0.043 -0.2666,-0.1376l-9.43936,-11.65644c-0.10664,-0.13072 -0.10836,-0.32336 -0.00172,-0.4558l10.38708,-12.95848c0.0774,-0.0946 0.1634,-0.1376 0.27004,-0.1376c0.00344,0 0.37152,0.00344 0.37668,0.3612l0.04816,3.88204l15.2478,-0.08084l5.19268,6.8972l-4.45824,7.31344l-0.23736,0.32336c-1.72172,2.00724 -3.80636,3.02892 -6.37604,3.12868l-10.33032,0.01032l-0.03612,3.14932c-0.00344,0.35776 -0.37152,0.3612 -0.37668,0.3612z" fill="#00a5a5"></path><path d="M99.17864,103.34104h0.0086h-0.0086M97.71148,105.17112l0.00516,0.34228l0.03096,2.38908l2.3908,-0.01204l13.44696,-0.07224l4.33784,5.76372l-3.98352,6.536l-0.2236,0.31132l-0.01032,0.01376c-1.46888,1.67356 -3.23704,2.53356 -5.40252,2.62816l-9.13664,0.0086l-2.37876,0.00172l-0.02408,2.00896l-7.54564,-9.31724l8.49336,-10.60208M98.50784,101.24436c-0.43688,0 -0.88064,0.18232 -1.20744,0.58996l-10.3888,12.95848c-0.46096,0.57448 -0.45924,1.3932 0.00516,1.96596l9.44108,11.65816c0.3268,0.40248 0.76884,0.58308 1.204,0.58308c0.79636,0 1.57036,-0.60372 1.58068,-1.55144l0.02236,-1.96424l9.18652,-0.0086c2.96012,-0.11524 5.3492,-1.3416 7.2412,-3.53976c0.11696,-0.16168 0.23564,-0.3268 0.3526,-0.4902l4.88308,-8.01004l-6.04752,-8.03584l-14.65612,0.07912l-0.0344,-2.68836c-0.01376,-0.94428 -0.78776,-1.54628 -1.5824,-1.54628z" fill="#472b29"></path><path d="M117.76496,116.32876c-0.0086,-2.5542 -0.4902,-5.11012 -2.2102,-8.0582l-12.39948,-21.25748c-0.10148,-0.17372 -0.04128,-0.3956 0.13072,-0.49708l16.23852,-9.47204c0.05676,-0.0344 0.11696,-0.04988 0.17888,-0.04988c0.04988,0 0.21844,0.01376 0.31476,0.1806l8.52776,14.61484c1.33128,2.28588 1.29344,5.10152 -0.1032,7.34612z" fill="#00a5a5"></path><path d="M120.12996,78.08456h0.0086h-0.0086M119.40412,78.50768l8.1012,13.889c1.10768,1.89888 1.075,4.23808 -0.08428,6.10428l-8.82532,14.2072c-0.34228,-1.59616 -0.95976,-3.2594 -2.00036,-5.04648l-11.97636,-20.53164l14.78512,-8.62236M119.70512,75.79008c-0.26832,0 -0.54008,0.0688 -0.78776,0.21328l-16.24024,9.47204c-0.7482,0.43516 -0.99932,1.39492 -0.56416,2.14312l12.39948,21.25748c2.59892,4.4548 2.14828,7.96876 1.69592,12.23608l13.25604,-21.34004c1.62712,-2.61956 1.67356,-5.9254 0.11868,-8.58968l-8.52604,-14.61656c-0.28724,-0.49708 -0.81184,-0.77572 -1.35192,-0.77572z" fill="#472b29"></path><g><path d="M92.1232,73.73296c-0.20984,-0.02752 -0.28552,-0.18404 -0.31304,-0.31304c-0.02064,-0.0946 -0.04128,-0.32336 0.18232,-0.45924l2.80876,-1.68388l-7.23948,-13.47792l3.15792,-8.37124l8.55528,-0.06536l0.51256,0.03784c2.48884,0.40764 4.4548,1.68216 5.89788,3.88032l4.6698,8.68256l2.80016,-1.68044c0.05848,-0.03612 0.11352,-0.05332 0.16856,-0.05332c0.10492,0 0.21672,0.06536 0.29068,0.16856c0.08256,0.11352 0.09976,0.24768 0.04816,0.39388l-4.9708,14.70256c-0.05332,0.15824 -0.18748,0.26316 -0.3354,0.26316z" fill="#00a5a5"></path><path d="M99.18896,50.568l0.2064,0.01548l0.18748,0.01204c2.1672,0.37496 3.8184,1.44308 5.0396,3.26456l4.07296,7.56284l1.1954,2.2188l1.9264,-1.1524l-4.05232,11.98668l-13.19928,-1.6512l1.8404,-1.10252l-1.08704,-2.02444l-6.43796,-11.98324l2.6746,-7.08812l7.63336,-0.05848M113.77284,61.318h0.0086h-0.0086M99.26464,48.16l-9.38088,0.07224l-3.64296,9.6578l6.95568,12.94816l-1.82148,1.09048c-1.2986,0.77916 -0.89268,2.8122 0.59856,2.99796l16.18864,2.02444c0.06364,0.00688 0.12728,0.01204 0.1892,0.01204c0.65876,0 1.25732,-0.42828 1.4792,-1.0836l4.9708,-14.70084c0.38012,-1.12316 -0.47988,-2.15 -1.47748,-2.15c-0.25972,0 -0.52976,0.07052 -0.78948,0.22532l-1.72,1.03028l-4.12628,-7.66088c-1.65808,-2.5284 -3.95772,-3.956 -6.82324,-4.41868c-0.1978,-0.01548 -0.40076,-0.03096 -0.60028,-0.04472z" fill="#472b29"></path></g><g><path d="M77.42236,78.3546c-0.05332,0 -0.10664,-0.01376 -0.15652,-0.03956l-16.60488,-9.07644c-0.19092,-0.10492 -0.26316,-0.36808 -0.15652,-0.57448l7.9292,-15.394c1.24012,-2.408 3.64812,-3.9044 6.28316,-3.9044l20.35104,0.01892c-2.21364,1.4018 -4.16928,3.21812 -5.79468,6.37432l-11.53604,22.39268c-0.06536,0.12556 -0.18404,0.20296 -0.31476,0.20296z" fill="#00a5a5"></path><path d="M74.72368,50.568l16.85256,0.0172c-1.23152,1.1868 -2.36844,2.66772 -3.37464,4.62164l-11.13872,21.62212l-15.14804,-8.27836l7.58864,-14.7318c1.03372,-2.00552 3.03064,-3.2508 5.21332,-3.2508h0.00688M74.71852,48.16c-3.08052,0 -5.90992,1.75268 -7.35472,4.55628l-7.93092,15.39572c-0.40592,0.78776 -0.11524,1.76472 0.65016,2.18268l16.6066,9.07644c0.23392,0.12728 0.48504,0.18748 0.73272,0.18748c0.56072,0 1.10424,-0.31132 1.3846,-0.85828l11.53432,-22.39096c2.4166,-4.69216 5.6416,-6.20404 9.50644,-8.12528l-25.1206,-0.02408c-0.00344,0 -0.00688,0 -0.0086,0z" fill="#472b29"></path></g><g fill="#472b29"><path d="M122.07872,109.3834c-0.00172,0 -0.00516,0 -0.00688,0c-0.23908,-0.00344 -0.42656,-0.19952 -0.42312,-0.43688c0.04128,-2.54732 -1.38976,-5.14452 -2.43208,-7.04168l-3.33508,-6.05268c-0.11352,-0.20812 -0.03784,-0.46956 0.16856,-0.5848c0.20984,-0.11524 0.46956,-0.03956 0.5848,0.16856l3.33508,6.0544c1.0922,1.97972 2.58516,4.69388 2.54044,7.46996c-0.00516,0.23392 -0.1978,0.42312 -0.43172,0.42312z"></path></g><g fill="#472b29"><path d="M114.88052,93.6024c-0.15136,0 -0.29928,-0.08084 -0.37668,-0.2236l-4.01448,-7.29452c-0.11352,-0.2064 -0.03784,-0.46784 0.17028,-0.58308c0.2064,-0.11696 0.46956,-0.03956 0.58308,0.17028l4.01448,7.29452c0.11352,0.2064 0.03784,0.46784 -0.17028,0.58308c-0.06536,0.03612 -0.13588,0.05332 -0.2064,0.05332z"></path></g><g fill="#472b29"><path d="M59.78032,113.13644c-2.17064,0 -4.8848,-0.11008 -7.05716,-1.33644c-0.2064,-0.11696 -0.28036,-0.38012 -0.1634,-0.58652c0.11524,-0.20812 0.3784,-0.27692 0.58652,-0.1634c2.22224,1.25388 5.1944,1.2384 7.35644,1.22292l5.71212,-0.043c0,0 0.00172,0 0.00344,0c0.23564,0 0.42828,0.1892 0.43,0.42656c0.00172,0.23736 -0.1892,0.43172 -0.42656,0.43344l-5.71384,0.043c-0.23392,0.00172 -0.47644,0.00344 -0.72756,0.00344z"></path></g><g fill="#472b29"><path d="M69.66,113.13644c-0.23736,0 -0.42828,-0.19092 -0.43,-0.42828c-0.00172,-0.23736 0.1892,-0.43 0.42828,-0.43172l8.6,-0.04644h0.00172c0.23736,0 0.42828,0.19092 0.43,0.42828c0.00172,0.23736 -0.1892,0.43 -0.42828,0.43172l-8.6,0.04644z"></path></g><g fill="#472b29"><path d="M77.51524,61.87012c-0.06536,0 -0.13244,-0.01548 -0.19436,-0.04644c-0.21328,-0.10836 -0.29756,-0.36636 -0.1892,-0.57792l2.69696,-5.31308c1.02684,-2.01584 2.43208,-4.77472 4.75752,-6.29864c0.19608,-0.129 0.4644,-0.0774 0.59512,0.12384c0.13072,0.1978 0.07396,0.46612 -0.12384,0.59512c-2.13452,1.39836 -3.47956,4.042 -4.4634,5.97184l-2.69524,5.31136c-0.07568,0.14792 -0.22704,0.23392 -0.38356,0.23392z"></path></g><g fill="#472b29"><path d="M72.47908,71.6122c-0.06708,0 -0.13244,-0.01548 -0.19436,-0.04644c-0.21156,-0.10836 -0.29584,-0.36636 -0.18748,-0.57792l3.55524,-6.98148c0.10836,-0.21328 0.3698,-0.29584 0.57792,-0.18748c0.21156,0.10836 0.29584,0.36636 0.18748,0.57792l-3.55524,6.98148c-0.0774,0.14792 -0.22876,0.23392 -0.38356,0.23392z"></path></g><g><path d="M141.34616,117.45364c3.23876,0 6.04924,0 6.0888,0c3.6292,0 6.57212,-2.87928 6.57212,-6.43108c0,-3.09944 -2.23944,-5.6846 -5.2202,-6.2952c0.0344,-0.27176 0.05848,-0.54524 0.05848,-0.8256c0,-3.67908 -3.04784,-6.66156 -6.80604,-6.66156c-2.2188,0 -4.18476,1.04404 -5.4266,2.65396c-0.3182,-4.09532 -4.05576,-7.25496 -8.428,-6.73036c-3.19748,0.38356 -5.84284,2.80188 -6.43108,5.90132c-0.1892,0.99416 -0.16856,1.95908 0.01892,2.8638c-0.85656,-0.903 -2.07776,-1.47232 -3.43656,-1.47232c-2.48712,0 -4.51844,1.89544 -4.6784,4.28968c-1.13004,-0.24424 -2.35812,-0.22876 -3.65156,0.24596c-2.47336,0.90816 -4.23464,3.18716 -4.33784,5.77232c-0.1462,3.66876 2.85004,6.68908 6.56696,6.68908c0.28208,0 1.27452,0 1.50328,0h13.64648M130.20572,117.45364h0.6192" fill="#fdfcef"></path><path d="M147.43496,118.31536h-6.0888c-0.47472,0 -0.86,-0.38528 -0.86,-0.86c0,-0.47472 0.38528,-0.86 0.86,-0.86h6.0888c3.14932,0 5.71212,-2.49916 5.71212,-5.57108c0,-2.62128 -1.90576,-4.91576 -4.53392,-5.4524c-0.44032,-0.09116 -0.73788,-0.50568 -0.68112,-0.95288c0.03096,-0.23564 0.0516,-0.473 0.0516,-0.71724c0,-3.1992 -2.66772,-5.80156 -5.94604,-5.80156c-1.87824,0 -3.60856,0.84452 -4.7472,2.32028c-0.21672,0.28208 -0.58652,0.39732 -0.92708,0.29928c-0.34056,-0.1032 -0.58308,-0.40248 -0.6106,-0.7568c-0.13588,-1.7544 -0.9718,-3.34368 -2.35468,-4.47888c-1.42588,-1.1696 -3.2422,-1.68388 -5.11356,-1.46716c-2.83112,0.33884 -5.17032,2.48024 -5.68804,5.20644c-0.16168,0.8514 -0.15652,1.7028 0.01548,2.53184c0.0774,0.37668 -0.1032,0.75852 -0.44376,0.9374c-0.33884,0.17544 -0.7568,0.10836 -1.02168,-0.172c-0.73616,-0.77572 -1.73548,-1.204 -2.8122,-1.204c-2.01068,0 -3.6894,1.53252 -3.82012,3.48644c-0.0172,0.25112 -0.14104,0.47816 -0.34056,0.62952c-0.19952,0.14964 -0.45408,0.2064 -0.69832,0.15308c-1.09908,-0.23736 -2.13796,-0.16856 -3.17512,0.215c-2.17064,0.79636 -3.68768,2.80532 -3.7754,4.9966c-0.0602,1.50672 0.48676,2.93948 1.5394,4.03512c1.0922,1.1352 2.57312,1.76128 4.16756,1.76128h15.14804c0.47472,0 0.86,0.38528 0.86,0.86c0,0.47472 -0.38528,0.86 -0.86,0.86h-15.14804c-2.0382,0 -4.00932,-0.8342 -5.40768,-2.28932c-1.38116,-1.43792 -2.09668,-3.31788 -2.01756,-5.29416c0.11524,-2.881 2.08464,-5.51088 4.90028,-6.54632c1.0492,-0.387 2.1328,-0.52288 3.2336,-0.41968c0.59168,-2.40112 2.80188,-4.16928 5.3922,-4.16928c0.84796,0 1.68044,0.19436 2.43208,0.55556c0.01548,-0.41624 0.06364,-0.83248 0.14276,-1.25044c0.65532,-3.45548 3.60512,-6.1662 7.1724,-6.59276c2.3478,-0.28724 4.6182,0.37496 6.40872,1.84212c1.28656,1.05436 2.19816,2.42348 2.65912,3.95944c1.36052,-1.11456 3.07192,-1.73204 4.88824,-1.73204c4.22776,0 7.66604,3.37464 7.66604,7.52156c0,0.05848 0,0.11696 -0.00172,0.17716c3.03408,0.9546 5.16516,3.76336 5.16516,6.94536c0.00172,4.02308 -3.33164,7.29452 -7.4304,7.29452zM130.82492,118.31536h-0.6192c-0.47472,0 -0.86,-0.38528 -0.86,-0.86c0,-0.47472 0.38528,-0.86 0.86,-0.86h0.6192c0.47472,0 0.86,0.38528 0.86,0.86c0,0.47472 -0.38528,0.86 -0.86,0.86z" fill="#472b29"></path><g fill="#472b29"><path d="M144.49892,108.33248c-0.03096,0 -0.06192,-0.00344 -0.0946,-0.01032c-0.2322,-0.0516 -0.3784,-0.28208 -0.32508,-0.51428c0.06364,-0.28208 0.16168,-0.559 0.2924,-0.82388c1.03888,-2.10528 3.90784,-2.88444 6.40184,-1.73204c0.215,0.09976 0.3096,0.35432 0.20984,0.56932c-0.09976,0.21672 -0.35604,0.30788 -0.57104,0.20984c-2.06572,-0.95632 -4.43244,-0.35776 -5.26836,1.33128c-0.09976,0.20296 -0.17544,0.41624 -0.2236,0.63124c-0.04644,0.20296 -0.2236,0.33884 -0.4214,0.33884z"></path></g><g fill="#472b29"><path d="M135.62544,118.31536h-1.90404c-0.47472,0 -0.86,-0.38528 -0.86,-0.86c0,-0.47472 0.38528,-0.86 0.86,-0.86h1.90404c0.47472,0 0.86,0.38528 0.86,0.86c0,0.47472 -0.38356,0.86 -0.86,0.86z"></path></g></g></g></g></g></svg>

                        }

                        <p class="card-text">
                            <dl>
                                <dt>Title:</dt>
                                <dd>@item.Title</dd>
                                <dt>Author:</dt>
                                <dd>@item.Author.FirstName @item.Author.LastName</dd>
                            </dl>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                                <a class="btn btn-sm btn-outline-dark" asp-action="Details" asp-controller="Books" asp-route-id="@item.ID">View</a>

                                @if (User.IsInRole("user"))
                                {


                                    <input type="button" class="btn btn-sm btn-outline-dark" onclick="AddItem(@item.ID)" value="Add to cart" />
                                }


                                @if (User.IsInRole("admin"))
                                {
                                    <div class="dropdown dropright">
                                        <button type="button" class="btn btn-sm btn-outline-dark dropdown-toggle" data-toggle="dropdown">
                                            Action
                                        </button>
                                        <div class="dropdown-menu">

                                            <a class="dropdown-item" asp-action="Edit" asp-controller="Books" asp-route-Id="@item.ID">Edit</a>
                                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.ID" asp-controller="Books">Delete</a>

                                        </div>
                                    </div>
                                }

                            </div>
                            <text class="text-info">@item.Price $</text>
                        </div>
                    </div>
                </div>

            </div>

        }

    </div>
</div>



@{
    var prevDisabled = !Model.Books.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Books.HasNextPage ? "disabled" : "";
}


<!--Pagination-->
<div class="d-flex justify-content-center bg-transparent mb-3">
    <div class="p-3 bg-transparent">
        <a asp-action="GetAllBooks"
           asp-route-Genre="@Model.FilterArgs.Genre"
           asp-route-Author="@Model.FilterArgs.Author"
           asp-route-BookCondition="@Model.FilterArgs.BookCondition"
           asp-route-SearchString="@Model.FilterArgs.SearchString"
           asp-route-catalogPage="@(Model.Books.PageIndex - 1)"      
           class="btn btn-lg btn-outline-dark @prevDisabled">
            Previous
        </a>

    </div>

    <div class="p-3 bg-transparent">
        <a asp-action="GetAllBooks"
           asp-route-Genre="@Model.FilterArgs.Genre"
           asp-route-Author="@Model.FilterArgs.Author"
           asp-route-BookCondition="@Model.FilterArgs.BookCondition"
           asp-route-SearchString="@Model.FilterArgs.SearchString"
           asp-route-catalogPage="@(Model.Books.PageIndex + 1)"
           class="btn btn-lg btn-outline-dark @nextDisabled">
            Next page
        </a>

    </div>
</div>


